[phases.setup]
nixPkgs = ['python310', 'default-jre']

[phases.install]
cmds = ['pip install -r requirements.txt']

[phases.build]
cmds = ['python manage.py collectstatic --noinput']

[start]
cmd = 'python manage.py migrate && gunicorn claplog.wsgi:application --bind 0.0.0.0:$PORT'
